<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<span class="logo">HMH</span>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/me" class="pa3 no-underline db">About Me</a></li>

		<li><a href="/you" class="pa3 no-underline db">About You</a></li>

		<li><a href="/not-a-blog" class="pa3 no-underline db">Not a Blog</a></li>
	</ul>

</nav>
