{{ define "main" }}
<div class="main banner" id="banner-main">
  <div class="banner__content banner__content--offset-right">
    <div class="banner-intro">
      <div class="banner-intro__content">
        <h1 class="banner-intro__title">
          <span class="line">HARRY</span><span class="line">HO</span>
        </h1>
      </div>
      <p class="banner-intro__subtitle">
        Preach the gospel<br/>
        Make disciples<br/>
        Worship God<br/> 
        Love people <br/>

      </p>
      <div class="pillar-divide">
        <div class="pillar-cap"></div>
        <div class="pillar-left"></div>
        <div class="pillar-center"></div>
        <div class="pillar-right"></div>
      </div>
      
    </div>
  </div>
</div>
    
  
<div class="pv5 pv6-l ph3 bg-center cover" style="background: #3f3f3f">
  <div class="mw7 center ph3">
    <div class="db mb3">
      <div class="">
        <h1 class="b di lh-title mb3 white mw6">
          My name is harry.
        </h1> 
      </div>
      <div class="mw7">
        <p class="b f4 di  white">
          my <span class="primary">mission</span> in life is to love and serve <span class="primary">God</span>, glorify His name, and spread the Good News of <span class="primary">Jesus Christ</span>.
        </p>
      </div>
    </div>
  </div>
</div>

{{ end }}
